* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

nav {
    min-height: 10vh;
    background: linear-gradient(90deg, #7474BF, #348AC7);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav i {
    font-size: 30px;
    margin-left: 10px;
    color: rgb(41, 197, 225);
}

nav h1 {
    color: #bfbfbf;
}

main {
    background: url('./imgs/sky.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .container {
        width: 720px;
    }
}

@media (max-width: 992px) {
    .container {
        width: 960px;
    }
}

@media (max-width: 1200px) {
    .container {
        width: 1140px;
    }
}

.container {
    position: relative;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container input {
    width: 18rem;
    padding: 10px;
    border-radius: 5px;
    display: block;
    margin: 30px auto;
    border: 2px solid lightseagreen;
    background-color: aliceblue;
}

.container button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #348AC7;
    width: 8rem;
    height: 2.5rem;
    border-radius: 50px;
    border: 2px solid cyan;
    cursor: pointer;
    text-align: center;

}

.container button:hover {
    background-color: #7474BF;
}

.entryHolder {
    position: relative;
    min-height: 40vh;
    background-color: rgb(41, 197, 225, 0.5);
    width: 400px;
    margin-top: 80px;
    border-radius: 4px;
    opacity: 0;
    transition: 0.6s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media (max-width: 768px) {
    .entryHolder {
        width: 300px;
    }
}
.entryHolder div {
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
}
.show {
    opacity: 1;
}

